// Website Styling


body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  @include media-breakpoint-down(md) {
    @include themed() {
      background-color: rgba(t("primary"), 0.95);
    }
  }
  @include media-breakpoint-up(md) {
    @include themed() {
      background-color: rgba(t("nb-bg-color"), 0.95);
    }
  }
}


html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: 100%;
  height: -webkit-fill-available;

  @include themed() {
    background-color: t("bg-color")!important;
    color: t("color")!important;
    font-weight: t("fw-normal")!important;
  }
}

main h2, h3 {
  font-weight: 350; 
}

ins {
  text-decoration: underline;
  text-decoration-thickness: 0.085rem; 
}


main strong {
  font-weight: 520; 
}

a {
  @include themed() {
    color: t("l-color");
  }
  text-decoration: $link-decoration;
  font-weight: $link-fw;

  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out, border-bottom-style 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out, border-bottom-style 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out, border-bottom-style 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out, border-bottom-style 0.2s ease-in-out;
  
  
}
a:hover {
  @include themed() {
    color: t("l-hover-color");
  }
}


.padded-list {
  // padding-top: 1rem !important;
  padding-top: 0.25rem !important;
}

.padded-list ol {
  counter-reset: reversed(list-item);
}

.padded-list li {
	padding-bottom:10px;
  line-height: normal;
}


.student-led {
  padding-top: -1rem; 
  font-weight: 250; 
  font-style: italic; 
  padding-bottom: 0.35rem; 
  @include themed() {
    color: t("text-color-note")
  }
}


.sp-sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100%;
  height: -webkit-fill-available;
  overflow-y: auto;
  max-width: min($max-sidebar-width, $left-pane-percentage);
  font-size: min(calc(0.3rem + 0.95vw), 1rem);
  @include themed() {
    background-color: t("primary");
    color: t("sb-color");
  }
}


#sidebar:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sidebar {
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sidebar:before {
  // background-image: linear-gradient(to top, rgba(19, 21, 25, 0.5), rgba(19, 21, 25, 0.5)), url("../images/overlay.png");
  @include themed() {
    background-image: linear-gradient(to top, rgba(19, 21, 25, 0.0), 1%, t("primary")), url("../images/overlay.png");
  }
  background-size: auto,
256px 256px;
  background-position: center,
center;
  background-repeat: no-repeat,
repeat;
  z-index: -1;
}

#sidebar{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/UNCOVER_nircam_mosaic.png'); 
  // background-image: url('images/shp_crop.jpg'); 
  // z-index: -2; 
}
// style="background-image: url('images/UNCOVER_nircam_mosaic.png')" 
// style="background-image: url('images/UNCOVER_nircam_mosaic.png')" 

.sp-sidebar .sp-side-photo {
  width: min($max-side-photo-width, 100%);
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.sp-sidebar hr {
  margin: 1rem 0;
  width: 100%;
}

.sp-sidebar h1 {
  margin-bottom: 0.1rem;
  font-size: min(calc(0.925rem + 2.3vw), 2.6rem);
  font-weight: 350;
  // font-weight: 300;
  line-height: 1.1;
  @include themed() {
    color: t('sb-color-emph');
  }
}

.sp-sidebar h2 {
  text-align: center;
  font-size: min(calc(0.46rem + 1.5vw), 1.55rem);
  // font-weight: 380;
  font-weight: 300;
  line-height: 1.0;
  padding-bottom: 0.2rem;
}
.sp-sidebar h3 {
  text-align: center;
  font-size: min(calc(0.3rem + 1.1vw), 1.1rem);
  // font-weight: 380;
  font-weight: 300;
}


.sp-sidebar .sp-sidebar-footer {
  font-size: $font-size-small;
  @include themed() {
    color: t('sb-color-muted')
  }
}

.sp-sidebar .sp-sidebar-footer a,
.sp-sidebar .sp-sidebar-footer a:visited {
  text-decoration: underline;
  text-decoration-style: dotted;
  @include themed() {
    color: t("sb-color-muted");
    text-decoration-color: t("sb-color-muted");
  }

}

.sp-sidebar .sp-sidebar-footer a:hover{
  text-decoration: underline;
  text-decoration-style: dotted;
  @include themed() {
    color: t("sb-color");
    text-decoration-color: t("sb-color");
  }
}

.right-pane {
  display: flex;
  flex-direction: column;
  overflow-y: overlay;
  min-height: 100vh;
  @include media-breakpoint-up(md) {
    margin-left: min($max-sidebar-width, $left-pane-percentage);
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  // Need this to put the footer of the bottom of a non-full page:
  @include media-breakpoint-down(md) {
    min-height: calc(100vh - 7rem);
  }
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 3.75rem);
  }
  //
  max-width: $max-main-content-width;
}


.footer {
  font-size: $font-size-small;
  // font-weight: 350;
  font-weight: 250;
  @include themed() {
    color: t("f-color");
  }
  @include media-breakpoint-down(md) {
    padding-left: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-right: 0.5rem;
    @include themed() {
      background-color: t("f-bg-color");
      border-top: solid 1px t("f-border-color");
    }
  }
  @include media-breakpoint-up(md) {
    padding-right: 2.8rem;
    padding-bottom: 0.75rem;
    margin-top: -2.75rem;
    max-width: $max-main-content-width;
  }
}
.footer a,
.footer a:visited {
  text-decoration: underline;
  text-decoration-style: dotted;
  @include themed() {
    color: t("f-color");
    text-decoration-color: t("f-color");
  }
}

.footer a:hover{
  text-decoration: underline;
  text-decoration-style: dotted;
  @include themed() {
    color: t("f-hover-color");
    text-decoration-color: t("f-hover-color");
  }
}

.footer .bi {
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.25rem;
  border-radius: 0.3rem;
  margin-top: 0;
  margin-bottom: 0;

  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0.5px;
  @include themed() {
    background-color: t("f-up-bg-color");
  }
}

.footer .bi:hover{
    @include themed() {
      fill: t("f-hover-color");
      stroke: t("f-hover-color");
      background-color: t("f-up-bg-hover-color");
    }
  }


.survey-card {
    border-radius: 0.3rem;
    text-align: center;
    @include themed() {
        background: t("cd-bd-bg-color");
        border: 0.1rem solid t("cd-border-color");
    }
    @include media-breakpoint-down(sm) {
        max-width: 20rem;
    }
}



.survey-card a {
      @include themed() {
        color: t("color");
        font-weight: t("fw-normal")!important;
      }
      text-decoration: none;
    }

.survey-card-hover {
    border-radius: 0.3rem;
    transition: box-shadow 0.3s ease-in-out;
}

.survey-card-hover:hover {
    @include themed() {
        box-shadow: 0 0 0.6rem t("cd-shadow-color");
    }
}



.survey-card .survey-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    @include themed() {
        background: t("cd-hd-bg-color");
    }
    @include media-breakpoint-up(sm) {
        min-height: 7rem;
    }
    @include media-breakpoint-up(md) {
        min-height: 6.5rem;
    }
    @include media-breakpoint-up(lg) {
        min-height: 7.6rem;
    }
    @include media-breakpoint-up(xl) {
        min-height: 6.2rem;
    }
}



.survey-card .survey-card-header h1 {
    text-decoration: none;
    font-weight: 500;
    margin-top: 0.7rem;
    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }
    @include media-breakpoint-up(md) {
        font-size: min(calc(0.8rem + 3vw), 3rem);
    }
    @include media-breakpoint-up(lg) {
        font-size: min(calc(3.7vw), 3rem);
    }
    @include themed() {
        color: t("cd-hd-color");
    }
}


.survey-card .code-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    @include themed() {
        background: t("cd-hd-bg-color");
    }
    @include media-breakpoint-up(sm) {
        min-height: 11.5rem;
    }
    @include media-breakpoint-up(md) {
        min-height: 12rem;
    }
    @include media-breakpoint-up(xl) {
        min-height:12rem;
    }
}

.survey-card .code-card-header h1 {
    text-decoration: none;
    font-weight: 500;
    margin-top: 0.7rem;
    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }
    @include media-breakpoint-up(md) {
        font-size: min(calc(0.8rem + 3vw), 3rem);
    }
    @include media-breakpoint-up(lg) {
        font-size: min(calc(3.7vw), 3rem);
    }
    @include themed() {
        color: t("cd-hd-color");
    }
}



.survey-card .survey-cards-logo {
    max-height: 12rem;
    max-width: 95%;
    @include media-breakpoint-down(sm) {
        max-height: 7rem;
    }
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.survey-card .code-cards-logo {
    max-height: 12rem;
    max-width: 95%;
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}


.row .col {
    min-height: 100% ;
    display: flex;
}

.survey-card .card {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.survey-card .card-body {
    flex: 1 1 auto;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    font-size: 0.85rem;
}


.survey-card .card-text {
    text-align: left;
    line-height: 1.2rem;
    padding: 0.75rem;
    padding-top: 0.5rem;
    margin-bottom: 0;
}
