/* clean out all the ones I don't use, and hopefully make this the real one. then copy
the original files to a backup folder, for future inspiration */

/*

Colors in use (from the original home style dark):

background color: #8989a1  / 
header background: #382353 / 
text color: #000000 / black
border color: #ffffff / white
content background: #eadeff / 
footer background: #503c69 / 
footer text: #dadada / 
navbar background: #c3a3e0 / 
navbar link color: #600060 / 
navbar hover color: #6f508c / 
navbar hover text: #ffffff / white
subnavbar background: #b2a3fb / 
subnavbar text: #000000 / black
subnavbar hover: #5e50a3 / 
subnavbar hover text: # ffffff / white

simplified colors (to change to):
background color: #8989a1
content background: #e6e3ec ; #E7E2F1
header color: #452e5a
footer color: #452e5a
footer text: dadada? header color too?
navbar background color: #c8b0de
navbar link color: #600060
navbar hover: #6f508c
navbar hover text: #ffffff


links:
link: #800080 / 
visited: #42005c / 
hover: border-bottom: solid 2px #46008a /

*/


span.codedirection { unicode-bidi:bidi-override; direction: rtl; }

body,html{
	text-align: center;
	font-size:14.5px;
        height: auto !important;
        height:100%;
        min-height:100%;
}
body {
      /*font-family: Georgia, "Times New Roman",
              Times, serif;*/
      font-family: Tahoma, Ariel, sans-serif;/*trebuchet ms, Tahoma, sans-serif;*/
      color: #000000;
      background-color: #e6e3ec;
}
#main {
	color: #000000;
	margin: auto;
	/*border: solid 1px #fff;*/
	max-width: 800px;
}
.section {
	padding: 0;
	margin-top: 1px;
}
#bannerbox{
max-width:800px;
margin-top:0px;
margin-bottom:-4px;
}

#banner{
max-width:800px;
max-height:200px;
margin-top:0px;
margin-bottom:0px;
background-image: url(sedona_website_banner_berkeley_light.jpg);
background-position: 0px 0px;
/*background-repeat: no-repeat;*/
}

#header {
	margin: auto;
	max-width: 800px;
	max-height: 200px;
	text-align: left;
	background-color: #452e5a; 
	color: white;
	padding: 0px 0px 15px 0px;
}
#header h1 {
	font-family: Palatino, serif;
	/*font-family: Georgia, serif;*/
	font-weight: bold;/*normal;*/
	margin: 0;
	font-size: 28px;
	padding: 15px 0px 5px 35px;
	text-align: left;
}
#header h2,h4,h5 {
	font-family: Gill Sans, sans-serif;
	/*font-family: tahoma, sans-serif;*/
	/*font-family: Georgia, serif;*/
	font-weight: bold;/*normal;*/
	margin: 0;
	font-size: 14px;
	padding: 0px 0px 0px 55px;
}
#header h4 { padding-bottom: 5px;}
#header h5 { padding-bottom: 20px; padding-top: 10px;}

#sidebar {
	width: 130px;
	margin: auto;
        margin-top: 10px;
        margin-left: 20px;
	padding: 0 0px 0 0;
	text-align: left;
        font-family: trebuchet ms, sans-serif;
        font-weight: bold;
        font-variant: normal;
	float: left;
	margin-bottom: 10px;
}
#photobox_right {
	max-width: 100px;
	float: right;
	padding: 10px 20px 10px 10px;
	text-align: center;
	font-size: 12px;
	line-height:13px;
}
#photobox_head {
	float: right;
	height: 170px;
	padding: 15px 15px 0px 15px;
}
#content {
	/*border-top: solid 1px #fff;*/
	max-width: 800px;
	min-height: 282px;
	text-align: left;
	margin: auto;
        padding-bottom: 1px;
	background: #e6e3ec;
}
.text {
        min-height: 280px;
	margin: auto;
        margin: 0px 10px 10px 10px;
	margin-left: 165px;
	text-align: left;
	padding: 0px 15px 2px 10px;
        padding-top: 1px;  /* if no border */
        background-color: #e6e3ec;
}
#footer {
	clear: both;
	height: 35px;
	max-width: 800px;
	margin: auto;
	padding: 0;
	padding-top: 2px;
	border-top: solid 2px #452e5a;
	background: #e6e3ec; /*#452e5a;*/
	color: #101010; /*#dadada;/*white;*/
	text-align: center;
	/*border-top: solid 1px #fff;*/
        font-family: Gill Sans, sans-serif;
	font-size: 12.7px;
	font-style: italic;
	font-weight: normal;
	line-height: 13px;
}
#footer p {
	margin: 4px 0 0 0;
	text-align: center;
}
/* is this used? */
font.head {
	font-weight: bold;
	font-size: 22.3px;/*1.4em;*/
/*	color: #8b8bce;/*6f6faf;*/
}
/* is this used? */
font.subhead {
	font-weight: bold;
	font-size: 18.3px;/*1.15em;*/
/*	color: #8b8bce;*/
}
  ul.navbar {
     list-style-type: none;
     padding: 0px;
     padding-top: 3px;
     margin: auto;
     width: 130px;
}
  h1 {
      font-family: SunSans-Regular, sans-serif }
h1,h2,h3 {
	padding-top: 10px;
}
#content h4,h5 {padding-left: 0px; padding-top: 0px;}

  ul.navbar li {
    width: 130px;
    text-align: center;
    margin: auto;
    padding-top: 18px;
    border-right: 4px none #46008a }

ul.fakesubnavbar {
        list-style-type: none;
        padding: 0;
	margin-top: 6px;
	color: #600060;
        margin-bottom: 4px;
        background: #c8b0de;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
ul.fakesubnavbar li {
        width: 120px;
        text-align: left;
        padding: 6px;
	display: block;
}

ul.subnavbar {
	list-style-type: none;
	padding: 0;
        padding-top: 0px;
	margin: 0;
}
ul.subnavbar li {
	width: 130px;
	text-align: left;
	padding: 0px;
	margin-bottom: 4px;
	background: #c8b0de;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
ul.subnavbar li a {
	display: block;
	width: 118px;
	padding: 6px;
	text-decoration:none;
}
ul.subnavbar li a:link {
        color: #600060;
        text-decoration: none;
}
ul.subnavbar li a:visited {
	color: #600060;
	text-decoration: none;
}
ul.subnavbar li a:hover {
        background: #6f508c; 
	color: #ffffff;
	text-decoration:none;
	border-bottom:0px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px; 
-webkit-transition: background 200ms ease-out;
-moz-transition: background 200ms ease-out;
-o-transition: background 200ms ease-out;
transition: background 200ms ease-out;
}

ul.subsubnavbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
	font-size: 88%;
}
ul.subsubnavbar li {
        width: 95px;
        text-align: left;
        padding: 0px;
	margin-left: 20px;
	margin-bottom: 4px;
background-color: #c8b0de;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px;
}
ul.subsubnavbar li a {
        display: block;
        width: 80px;
        padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
        text-decoration:none;
}
ul.subsubnavbar li a:link {
        color: #600060;
        text-decoration: none;
}
ul.subsubnavbar li a:visited {
        color: #600060;
        text-decoration: none;
}
ul.subsubnavbar li a:hover {
        background-color: #6f508c;
	color: #ffffff;
        text-decoration:none;
        border-bottom:0px;
-moz-border-radius: 8px;
-webkit-border-radius: 8px;
border-radius: 8px; 
-webkit-transition: background 200ms ease-out;
-moz-transition: background 200ms ease-out;
-o-transition: background 200ms ease-out;
transition: background 200ms ease-out;
}


/* HTML links styling */
  a:link {
    color: #800080;} 
  a:visited {
    color: #42005c;}
  a:hover {
	border-bottom: solid 2px #46008a;}
  address {
    text-align: center;
    margin-top: 13px;
    padding-top: 13px;
    border-top: thin dotted }

span.codedirection { unicode-bidi:bidi-override; direction: rtl; } 

