/* home_style_light.css */
/* colors:
#113d88; dark purple
#c8b0de; light purple
#1f6bc2; dark blue
#113d88; darkblue navbar
#3A86DE; lightblue navbar hover
#0054b4; border bottom header
#e3a857; gold / orange
#
#037670; navbar
#02b3ab; navbar hover
#007771; border bottom header
#23c7bf; light green link hover
#12c 8bf; light green link hover
#007771; dark green
#059089; dark green
*/

body,html{
	text-align: center;
	font-size:14.5px;
        height: auto !important;
        height:100%;
        min-height:100%;
}
body {
      /*font-family: Georgia, "Times New Roman",
              Times, serif;*/
      font-family: sans-serif;/*trebuchet ms, Tahoma, sans-serif;*/
      color: #303030;
      background-color: #b8baba; /*#f8fafa; /*#8989a1;*/
}
#main {
	color: #303030;
	background-color: #f8fafa;
	margin: auto;
	margin-top: 16px;
	/*margin-left: 8px;
	margin-right: 8px; */
	/*border: solid 1px #fff;*/
	max-width: 780px;
	/*min-width: 480px;*/
	/*min-width: 750px;*/
	/*border: solid 2px #b0b2b2; */
}

.section { padding: 0; 	margin-top: 1px; }

#bannerbox{ max-width:800px; margin-top:0px; margin-bottom:-4px; }

#banner_normal{
        margin: auto;
	min-height: 180px;
	max-width: 740px;
        text-align: left;
        border-bottom: solid 4px #007771;
        background-color: #f8fafa;
        color: #313131;
        padding: 0px 0px 25px 15px;
	/*margin-left: 8px;*/
	
}

#banner_normal h1{
        font-family: "trebuchet ms", sans-serif;
	font-weight: normal;
        margin: 0;
	/*font-size: 30px;*/
        /*padding: 30px 0px 5px 30px;*/
        padding: 47px 0px 5px 30px;
        text-align: left;
}

#banner_normal h2,h4,h5{
        font-family: "trebuchet ms", "Gill Sans", sans-serif;
	font-weight: normal;
        margin: 0;
        padding: 0px 0px 0px 65px;
        /*padding: 0px 0px 0px 65px;*/
}
#banner_normal h4{ padding-left: 30px;}


#banner_nopic{
        margin: auto;
	/*min-width: 410px;*/
	/*min-width: 670px;*/
	max-width: 740px;
        text-align: left;
        border-bottom: solid 4px #007771;
        background-color: #f8fafa;
        color: #313131;
        padding: 0px 0px 25px 15px;
	/*margin-left: 8px;*/
}

#banner_nopic h1{
        font-family: "trebuchet ms", sans-serif;
	font-weight: normal;
        margin: 0;
	/*font-size: 30px;*/
        padding: 30px 0px 5px 30px;
        /*padding: 15px 0px 5px 25px;*/
        text-align: left;
}

#banner_nopic h2,h4,h5{
        font-family: "trebuchet ms", "Gill Sans", sans-serif;
	font-weight: normal;
        margin: 0;
        padding: 0;
}
#banner_nopic h4{ padding-left: 30px;}

/* mobile banner. display: none; for the default/desktop version. remove that line */
/* and put it under bannerbox for the mobile css file */
#banner_mobile{ display: none; }

/* only for computer screens. need to give info in text form for mobile */
/* not scalable -- bad. hmm.. */

#header {
	margin: auto;
	/*margin-left: 8px;*/
	max-width: 740px;
	max-height: 200px;
	text-align: left;
	border-bottom: solid 4px #007771;
	background-color: #f8fafa;/*#007771; */
	color: #313131;/*white;*/
	padding: 0px 0px 15px 0px;
	/*margin-right: 15px;*/
}
#header h1 {
        font-family: "trebuchet ms", sans-serif;
	/*font-family: Georgia, serif;*/
	margin: 0;
	/*font-size: 28px;*/
	padding: 20px 0px 5px 15px;
	text-align: left;
}
#header h2,h4,h5 {
        font-family: "trebuchet ms", "Gill Sans", sans-serif;
	/*font-family: tahoma, sans-serif;*/
	/*font-family: Georgia, serif;*/
	margin: 0;
	padding: 0px 0px 0px 20px;
	/*font-size: 14px;*/
	/*padding: 0px 0px 0px 75px;*/
	/*padding: 0px 0px 0px 55px;*/
}
#header h4 { padding-bottom: 5px;}
#header h5 { padding-bottom: 20px; padding-top: 10px;}

#photobox_right {
	max-width: 100px;
	float: right;
	/*padding: 10px 20px 10px 10px;*/
	text-align: center;
	font-size: 12px;
	line-height:13px;
}
#photobox_head {
	float: right;
	height: 170px;
	/*margin-right: 18px;*/
	padding: 18px 8px 0px 15px;
	/*padding: 18px 8px 0px 15px;*/
}
#content {
	/*border-top: solid 1px #fff;*/
	max-width: 746px;
	min-height: 282px;
	/*min-width: 396px;*/
	/*min-width: 666px;*/
	text-align: left;
	margin: auto;
        padding-bottom: 1px;
	background: #f8fafa;
}
.text {
        min-height: 280px;
	margin: auto;
        margin: 0px 10px 10px 10px;
	margin-left: 165px;
	text-align: left;
	padding: 0px 15px 2px 10px;
        padding-top: 1px;  /* if no border */
	padding-bottom: 10px;
        background-color: #f8fafa;
}

h1,h2,h3 { padding-top: 0px; 	font-family: "trebuchet ms", sans-serif; }


#content h4,h5 {padding-left: 0px; padding-top: 0px;
	font-weight: bold;
}

#content h4 {font-size: 1.1em;
	     padding-top: 10px;}
#content h5 {font-size: 1em;}





#footer {
    clear: both;
    height: 35px; /*35px;*/
    margin: auto;
    padding: 0;
    padding-top: 2px; /*2px;*/
    padding-bottom: 4px;
    border-top: solid 2px #007771;
    background: #f8fafa; 
    color: #505050; 
    text-align: center;
        font-family: "Gill Sans", sans-serif;
    font-size: 12.7px;
    font-style: italic;
    font-weight: normal;
    line-height: 13px;
}
#footer p { margin: 4px 0 0 0;  text-align: center; }
.foottext{
    text-align: center;
    padding-left: 60px; /*30px;*/
}
.impressum{
    float: right;
    height: 35px;
    padding-top: 3.5px;
    padding-right: 5px;
    vertical-align: center;
    font-size: 11px;
    text-align: right;
    /*font-style: normal;*/
} 
.impressum a:link {
    color:#618EC2;
}



/* is this used? */
font.head { font-weight: bold; font-size: 22.3px;/*1.4em;*/ }

/* is this used? */
font.subhead { font-weight: bold; font-size: 18.3px;/*1.15em;*/ }

#sidebar {
	width: 130px;
	margin: auto;
        margin-top: 10px;
        margin-left: 16px;
	padding: 0 0px 0 0;
	text-align: left;
        font-family: "trebuchet ms", sans-serif;
        font-weight: bold;
        font-variant: normal;
	float: left;
	margin-bottom: 10px;
}

/* navbar not needed for how I've fixed things now */
  ul.navbar {
     list-style-type: none;
     padding: 0px;
     padding-top: 3px;
     margin: auto;
     width: 130px;
}
/* navbar not needed for how I've fixed things now */
  ul.navbar li {
    width: 130px;
    text-align: center;
    margin: auto;
    padding-top: 18px;
    border-right: 4px none #46008a }

ul.fakesubnavbar {
        list-style-type: none;
        padding: 0;
	margin-top: 6px;
	color: #ffffff; /*#600060;*/
        margin-bottom: 4px;
        background: #037670;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}
ul.fakesubnavbar li {
        width: 120px;
        text-align: left;
        padding: 6px;
	display: block;
}

ul.subnavbar {
	list-style-type: none;
	padding: 0;
        padding-top: 4px;
	margin: 0;
}

ul.subnavbar li {
	width: 130px;
	text-align: left;
	padding: 0px;
	margin-bottom: 4px;
	background: #037670;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
        /*border: solid 1px #037670;*/
}

ul.subnavbar li a {
	display: block;
	width: 112px; /*118px;*/
	padding: 6px;
	padding-left: 12px;
	text-decoration:none;
}

ul.subnavbar li a:link { 
	color: #ffffff; /*#600060;*/
	text-decoration: none; }

ul.subnavbar li a:visited { 
	color: #ffffff; /*#600060;*/
	text-decoration: none; }

ul.subnavbar li a:hover {
        background-color: #02b3ab;
	color: #ffffff;
	text-decoration:none;
	border-bottom:0px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	-webkit-transition: background 200ms ease-out;
	-moz-transition: background 200ms ease-out;
	-o-transition: background 200ms ease-out;
	transition: background 200ms ease-out;
}

/* EXPERIMENTAL */
/*ul.subnavbar li a:hover {
	background-color: #f8fafa;
	color: #037670;
	text-decoration:none;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
}*/

ul.subsubnavbar {
        list-style-type: none;
        padding: 0;
        margin: 0;
	font-size: 88%;
}

ul.subsubnavbar li {
        width: 95px;
        text-align: left;
        padding: 0px;
	margin-left: 20px;
	margin-bottom: 4px;
	background-color: #037670;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

ul.subsubnavbar li a {
        display: block;
        width: 80px;
        padding-right: 6px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 8px;
        text-decoration:none;
}

ul.subsubnavbar li a:link { 
	color: #ffffff; /*#600060;*/
	text-decoration: none; }

ul.subsubnavbar li a:visited { 
	color: #ffffff; /*#600060;*/
	text-decoration: none; }

ul.subsubnavbar li a:hover {
        background-color: #02b3ab;
        /*background-color: #059089;*/
	color: #ffffff;
        text-decoration:none;
        border-bottom:0px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px; 
	-webkit-transition: background 200ms ease-out;
	-moz-transition: background 200ms ease-out;
	-o-transition: background 200ms ease-out;
	transition: background 200ms ease-out;
}


/* HTML links styling */
  a:link { color: #059089; text-decoration:none; } 
  a:visited { color: #059089; } /*#800080;*/
  a:hover { color: #23c7bf; }  /*#e3a857;*/

.fakelink { color: #059089; }

/* li styling */

ol.padded li {
	padding-bottom:10px;
}

  address { text-align: center; margin-top: 13px; padding-top: 13px; border-top: thin dotted }

span.codedirection { unicode-bidi:bidi-override; direction: rtl; }

