<div class="col-md-4 px-4 py-0 sp-sidebar fixed-top d-none d-sm-none d-md-flex" id="sidebar">
  <div class="d-flex flex-column align-items-center" id="sidebar-header">
    <img src="#" class="img-fluid sp-side-photo rounded-circle" alt="Sidebar image of Your Name">
    <h1>Your Name</h1>
  </div>

  <hr>

  <div class="d-flex flex-column align-items-center" id="sidebar-main">
    <h2>Position title</h2>
    <h3>Institution</h3>
    email: email [at] domain
  </div>

  <hr>

  <div class="mt-auto sp-sidebar-footer" id="sidebar-footer">
      <ul class="px-0 list-inline small">
        <li class="list-inline-item">&copy; You</li>
        <li class="list-inline-item"><a href="#">Imprint</a></li>
        <li class="list-inline-item"><a href="#">Data Protection</a></li>
      </ul>
  </div>

</div>
